.f-header__item--divider { // element used to separate nav items
    height: 1px;
    width: 100%;
    background-color: var(--color-contrast-lower);
  }
  
  .f-header__item--divider {
    height: 1em;
    width: 1.5px;
  }

  


// header, footer {
//   background-color: var(--color-primary);
//   opacity: 0.8;
//  }
 
//  aside {
//   background-color: var(--color-primary);
//   opacity: 0.2;
//  }
 
//  main {
//   background-color: var(--color-primary);
//   opacity:  0.5;
//  }