/* -------------------------------- 

File#: _1_previous-next-links
Title: Previous/Next Links
Descr: Links to previous/next articles
Usage: codyhouse.co/license

-------------------------------- */
.pn-links {
    border-top: 1px solid var(--color-contrast-lower);
    border-bottom: 1px solid var(--color-contrast-lower);
  }
  
  .pn-links__item:first-child .pn-links__link {
    border-bottom: 1px solid var(--color-contrast-lower);
  }
  
  .pn-links__link {
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    text-decoration: none;
    padding: var(--space-md);
  }
  .pn-links__link:hover {
    text-decoration: underline;
  }
  .pn-links__link:hover .pn-links__icon line:nth-child(1) {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .pn-links__link:hover .pn-links__icon line:nth-child(2) {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .pn-links__link:hover .pn-links__icon line:nth-child(3) {
    stroke-dashoffset: 14;
  }
  
  .pn-links__icon {
    flex-shrink: 0;
  }
  .pn-links__icon line:nth-child(1),
  .pn-links__icon line:nth-child(2) {
    transition: -webkit-transform 0.3s var(--ease-out);
    transition: transform 0.3s var(--ease-out);
    transition: transform 0.3s var(--ease-out), -webkit-transform 0.3s var(--ease-out);
  }
  .pn-links__icon line:nth-child(1) {
    -webkit-transform-origin: 42px 19px;
            transform-origin: 42px 19px;
  }
  .pn-links__icon line:nth-child(2) {
    -webkit-transform-origin: 42px 29px;
            transform-origin: 42px 29px;
  }
  .pn-links__icon line:nth-child(3) {
    stroke-dasharray: 48;
    transition: stroke-dashoffset 0.3s var(--ease-out);
  }
  
  @media (min-width: 64rem) {
    .pn-links__item:first-child .pn-links__link {
      border-bottom: none;
      border-right: 1px solid var(--color-contrast-lower);
    }
  }