@use '../base' as *;
@use '_1_author.scss' as *;
@use '_1_list.scss' as *;

/* --------------------------------

File#: _2_article
Title: Article
Descr: Article template
Usage: codyhouse.co/license

-------------------------------- */